* {
    font-family: 'Nunito Sans', sans-serif;
}

input {
    width: 50px;
}

ul {
    padding: 0;
}

body {
    padding: 20px;
}

table, tr, td{
    border: 1px solid gray;
    border-collapse: collapse;
}

td {
    padding: 10px;
    max-width: 10px;
    max-height: 10px;
    font-size: 0;
    box-sizing: content-box;
}

ul{
    list-style-type: none;
    
}

li{
    display: flex;

}

li * {
    margin: auto;
}

.verticalList {
    display: block;
    float: left;
    margin-right: 20px;
}

.verticalList li {
    padding-bottom: 20px;
}

.caption {
    text-align: right;
}

.click {
    width: 100px;
    height: 100px;
}

.rangeInputWrap * {
    text-align: left;
}

.inputRange {
    width: 100%;
}

button {
 border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 4px 2px;*/
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #70cc79;
}

button:hover {
  background-color: #70cc79; /* Green */
  color: white;
}

fieldset {
    border: 2px solid #70cc79;
}





