* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    margin: 0;
}

form {
    width: 100%;
}

fieldset {
    border: 2px solid #70cc79;
}

input {
    width: 50px;
}

button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #70cc79;
}

button:hover {
    background-color: #70cc79;
    color: white;
}

p {
    padding: 10px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li{
    display: flex;
}

li * {
    margin: auto;
}

table, tr, td{
    border: 1px solid gray;
    border-collapse: collapse;
}

td {
    font-size: 0;
    box-sizing: content-box;
    position: relative;
    z-index: -1;
}

td img {
    position: absolute;             /*For images overlay in td's*/
    top: 0;
    left: 0;
}

.verticalList {
    display: block;
    float: left;
    width: 100%;
}

.verticalList li {
    padding-bottom: 20px;
    width: 100%;
}

.caption {
    text-align: right;
}

.click {
    width: 100px;
    height: 100px;
}

.rangeInputWrap * {
    text-align: left;
}

.inputRange {
    width: 100%;
}

.input-option img {
    margin:auto 5px;  
}

.content {
    vertical-align: middle;
}

.settingsTitle {
    text-align: center;
    display: block;
}

.settingsTitle h1 {
    padding-bottom: 10px;
}

#matrix {
    margin: 20px;
}

#settings {
    padding: 4px;
    height: 100%;
    width: 250px;
}

.items {
    height: 100vh;
}

.items > li {
    height: 100vh;
    float: left;
    overflow: auto;
}

.content-space {
    position: absolute;
    margin-left: 250px;
    display: inline-block;
}

.radioForm {
    display: block;
}

.settings-space {
    position: absolute;
    display: flex;
}